defaultEntryPoints = ["http", "https"]
logLevel = "INFO"

[traefikLog]
  filePath = "/logs/traefik.log"
  format   = "json"
[accessLog]
  filePath = "/logs/access.log"
  format = "json"
  bufferingSize = 100

[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]
  [entryPoints.traefik]
  address=":8080"
  # # You should setup authentication by htpasswd
  #  [entryPoints.traefik.auth]
  #    [entryPoints.traefik.auth.basic]
  #      users = [
  #        "devteam:$apr1$LxOo8LvM$C2xQaUQj67I7Xg0PYYJrs1",
  #      ]

[api]
  entryPoint = "traefik"

################################################################
# Docker Provider
################################################################
[docker]
endpoint = "unix:///var/run/docker.sock"


################################################################
# ACME
################################################################
# [acme]
# email = "picosix.com@gmail.com"
# storage = "acme.json"
# caServer = "https://acme-v02.api.letsencrypt.org/directory"
# entryPoint = "https"
# OnHostRule = true
#   [acme.httpChallenge]
#   entryPoint = "http"
# [[acme.domains]]
#   main = "api-user.picosix.com"
#   sans = ["cms.picosix.com"]